@import 'tailwindcss';

:root {
  --color-gray-dark-1: #111111;
  --color-gray-dark-2: #414040;
  --color-gray-dark-3: #707070;
}

@theme {
  --breakpoint-xs: 30rem;

  --font-poppins: 'Poppins', sans-serif;
  --font-garamond: 'EB Garamond', serif;
  --default-font-family: var(--font-poppins), var(--font-sans);

  --color-primary: #b68c5a;
  --color-primary-dark: #927048;
  --color-primary-light: #c5a37b;
}

@layer components {
  .hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
      url(./src/images/banner.png);

    @apply flex flex-col text-center items-center justify-center bg-cover sm:bg-center bg-position-[90%] bg-no-repeat lg:h-[31.25rem] py-14 rounded-md mb-14 w-full px-2.5;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    @apply grid gap-10 justify-start;
  }

  .heading-primary,
  .heading-secondary,
  .heading-tertiary,
  .heading-quaternary {
    color: var(--color-gray-dark-2);
    @apply font-garamond font-extrabold;
  }

  .heading-primary {
    @apply text-white lg:text-7xl md:text-5xl text-4xl;
  }
}

@utility heading-secondary {
  @apply text-3xl md:text-4xl lg:text-[2.5rem];
}

@utility heading-tertiary {
  @apply text-2xl md:text-3xl lg:text-[2rem];
}

@utility heading-quaternary {
  @apply text-sm md:text-base lg:text-2xl;
}

@utility btn {
  @apply bg-primary px-5 py-2.5 rounded-md text-white transition duration-500 hover:bg-primary-dark;
}

@utility my-container {
  @apply max-w-6xl mx-auto px-6 lg:px-0;
}
